body{
    font-family: 'Roboto', sans-serif;
    
}


/* Jumbotron */
.callout-container {
    height: 100vh;
    background: url('asset/image/monkees.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.opaque-overlay {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
}

.jumbotron {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-style: italic;
    
}



/* Navbar */
.navbar {
    color:white;
}

#monkees-logo {
    color: white;
    font-weight: 400;
    font-size: 25px;
    font-style: italic;
}


/* --------------------------------Footer */

 footer {
  background-color: #525252;
  color: #fafafa;
  min-height: 100px;
  margin: 0;
  text-align: ;
 }
 
 
.social-links {
  padding-bottom: 15px;
 }

 .social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
 }

 .social-links li a i:hover {
  background: #e84610;
 }

 #footer-details {
  padding: 10px;
 }